body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  .dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .dark-mode .top-bar {
    background-color: #1e1e1e;
  }
  
  #scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 1rem;
    border-radius: 50%;
  }
  
 